.header__user-container_active{
  display: flex;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 670px){
  .header__user-container_active{
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    margin: 0 0 27px;
    gap: 18px;
    border-bottom: solid 1px rgb(84, 84, 84, 0.7);
  }
}