.login__signup {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin: 15px auto;
  padding: 0;
}

@media screen and (max-width: 500px){
  .login__signup{
    font-size: 12px;
    line-height: 15px;
    margin: 20px auto;
  }
}
